body {
    padding-top: 50px;
}
#content {
    padding: 40px 15px;
}

#wordlist tr td:last-child {
    text-align: right;
}

#board tr td button {
    width: 100%;
}

.board-other-container {
    float: left;
    margin-right: 25px;
}