body {
    padding-top: 50px;
}
#content {
    padding: 40px 15px;
}

#wordlist tr td:last-child {
    text-align: right;
}

#board tr td button {
    width: 100%;
}

.board-other-container {
    float: left;
    margin-right: 25px;
}

#chat {
    max-height: 500px;
    overflow: auto;
}

#chat-table tr td:nth-child(1) {
    text-align: center;
    width: 10%;
}
#chat-table tr td:nth-child(2) {
    text-align: right;
    width: 15%;
}
#chat-table tr td:nth-child(3) {
    text-align: left;
}