<div>
    <h2>
        💩bingo Board
    </h2>

    <table id="board" class="table table-bordered">
        <tbody>
        {{#lines}}
        <tr>
            {{#.}}
            <td>
                <button type="button" class="btn btn-{{css_class}} button-buzzWord" data-id="{{id}}">
                    {{{word}}}
                </button>
            </td>
            {{/.}}
        </tr>
        {{/lines}}
        </tbody>
    </table>
</div>

<div>
    <h2>
        Users Overview
    </h2>

    <div id="board-other" class="board-other-container"></div>

    <div class="clearfix"></div>
</div>