<div>
    <h2>Create new game</h2>

    <form id="create-game" name="game">
        <div class="form-group">
            <label for="game-username">Username</label>
            <input id="game-username" type="text" class="form-control" placeholder="username" value="{{username}}">
        </div>
        <div class="form-group">
            <label for="game-name">Game Name</label>
            <input id="game-name" name="name" type="text" class="form-control" placeholder="my awesome 💩" required>
        </div>
        <div class="form-group">
            <label for="game-size">Board Size (width ╳ height)</label>
            <select id="game-size" class="form-control">
                <option value="3">3 ╳ 3</option>
                <option value="4">4 ╳ 4</option>
                <option value="5" selected>5 ╳ 5</option>
                <option value="6">6 ╳ 6</option>
                <option value="7">7 ╳ 7</option>
                <option value="8">8 ╳ 8</option>
                <option value="9">9 ╳ 9</option>
                <option value="10">10 ╳ 10</option>
            </select>
        </div>
        <button id="game-create" type="submit" class="btn btn-default">Create new 💩bingo!</button>
    </form>
</div>