<div id="game-list">
    <h2>
        <i class="fa fa-gamepad"></i>
        Current games
    </h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Game</th>
            <th>Size</th>
            <th>Players</th>
            <th>Stage</th>
            <th>Words</th>
            <th>User</th>
        </tr>
        </thead>
        <tbody>
        {{#games}}
        <tr>
            <td>
                <a class="button-join" href="#" data-id="{{id}}">{{{name}}}</a>
            </td>
            <td>{{size}}╳{{size}}</td>
            <td>{{players}}</td>
            <td>{{stage}}</td>
            <td>{{words}}</td>
            <td>{{user}}</td>
        </tr>
        {{/games}}
        </tbody>
    </table>

    {{^games}}
    <div class="well">no games, feel free to create a new one</div>
    {{/games}}
</div>