<div>
    <h2>
        <i class="fa fa-gamepad"></i>
        Current games
    </h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Game</th>
            <th>Size</th>
            <th>Players</th>
            <th>Stage</th>
            <th>Words</th>
        </tr>
        </thead>
        <tbody>
        {{#games}}
        <tr>
            <td>
                <a class="button-join" href="#" data-id="{{id}}">{{name}}</a>
            </td>
            <td>{{width}}╳{{height}}</td>
            <td>{{players.length}}</td>
            <td>{{stage}}</td>
            <td>{{words.length}}</td>
        </tr>
        {{/games}}
        </tbody>
    </table>
</div>