<div>
    <h2>
        Wordlist
    </h2>
    <table id="wordlist" class="table table-striped">
        <tbody>
        {{#words}}
        <tr>
            <td>
                {{name}}
                <span class="badge">{{user}}</span>
            </td>
            <td>
                <a class="button-delete" href="#" data-word="{{word}}">
                    <i class="fa fa-trash-o"></i>
                </a>
            </td>
        </tr>
        {{/words}}
        </tbody>
    </table>
    <div>
        <form class="form-horizontal">
            <div class="row">
                <div class="col-xs-11">
                    <input type="text" class="form-control" id="word" placeholder="new word">
                </div>
                <div class="col-xs-1">
                    <button type="submit" class="btn btn-default">💩</button>
                </div>
            </div>
            <div class="form-group">

            </div>

        </form>
    </div>
    <div>
        <h3>Last Words</h3>
        <div class="panel-body">
            {{#last_words}}
            <span style="margin-right: 35px;">
                {{.}}
                <a class="button-add" href="#" data-word="{{.}}">
                    <i class="fa fa-plus-square"></i>
                </a>
            </span>
            {{/last_words}}
        </div>
    </div>
</div>