<div>
    <h2>
        Wordlist
    </h2>
    <table id="wordlist" class="table table-striped"></table>
    <div>
        <form class="form-horizontal">
            <div class="row">
                <div class="col-xs-11">
                    <input type="text" class="form-control" id="word" placeholder="new word" required="required">
                </div>
                <div class="col-xs-1">
                    <button id="button-addWord" type="submit" class="btn btn-default">💩</button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <h3>Last Words</h3>
        <div class="panel-body">
            {{#last_words}}
            <span style="margin-right: 35px;">
                {{word}}
                <a class="button-addLastWord" href="#" data-word="{{word}}">
                    <i class="fa fa-plus-square"></i>
                </a>
            </span>
            {{/last_words}}
        </div>
    </div>
</div>